In [7]:
# import the dataset 
import pandas as pd
data = pd.read_csv('aapl.csv')
# view the first chunk of data
data.head()

   Unnamed: 0  adj_close   close        date    high     low    open    volume
0           0      31.68  130.31  2000-03-01  132.06  118.50  118.56  38478000
1           1      29.66  122.00  2000-03-02  127.94  120.69  127.00  11136800
2           2      31.12  128.00  2000-03-03  128.23  120.00  124.87  11565200
3           3      30.56  125.69  2000-03-06  129.13  125.00  126.00   7520000
4           4      29.87  122.87  2000-03-07  127.44  121.12  126.44   9767600

In [8]:
# clean uneeded columns
data.drop(['Unnamed: 0'], axis = 1, inplace=True)
# view the data again
data.head()
# verify columns types 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Data columns (total 7 columns):
adj_close    3270 non-null float64
close        3270 non-null float64
date         3270 non-null object
high         3270 non-null float64
low          3270 non-null float64
open         3270 non-null float64
volume       3270 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 178.9+ KB

In [10]:
# convert 'date' column to datetime object
data['date'] = pd.to_datetime(data['date'])
# verify columns types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3270 entries, 0 to 3269
Data columns (total 7 columns):
adj_close    3270 non-null float64
close        3270 non-null float64
date         3270 non-null datetime64[ns]
high         3270 non-null float64
low          3270 non-null float64
open         3270 non-null float64
volume       3270 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 178.9 KB

In [13]:
# prepare date variable as a list of datetime objects
date = list(data['date'])
# price variable as a list of prices
price = list(data['adj_close'])

### Line Plot

In [15]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Import output_file and show from bokeh.io
from bokeh.io import output_file, show

# Create a figure with x_axis_type="datetime": p
p = figure(x_axis_type = 'datetime', x_axis_label='Date', y_axis_label='US Dollars')

# Plot date along the x axis and price along the y axis
p.line(date, price)

# Specify the name of the output file and show the result
output_file('line.html')
show(p)

### Line with Circle Marker

In [16]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Create a figure with x_axis_type='datetime': p
p = figure(x_axis_type='datetime', x_axis_label='Date', y_axis_label='US Dollars')

# Plot date along the x-axis and price along the y-axis
p.line(date, price)

# With date on the x-axis and price on the y-axis, add a white circle glyph of size 4
p.circle(date, price, fill_color='white', size=4)

# Specify the name of the output file and show the result
output_file('line_with_cirle.html')
show(p)