In [1]:
# importing data 
import pandas as pd
data = pd.read_csv('literacy_birth_rate.csv')
data.head()

    Country  Continent female literacy fertility    population
0      Chine       ASI            90.5     1.769  1.324655e+09
1       Inde       ASI            50.8     2.682  1.139965e+09
2        USA       NAM              99     2.077  3.040600e+08
3  Indonésie       ASI            88.8     2.132  2.273451e+08
4     Brésil       LAT            90.2     1.827  1.919715e+08

In [2]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Import output_file and show from bokeh.io
from bokeh.io import output_file, show

# Import the ColumnDataSource class from bokeh.plotting
from bokeh.plotting import ColumnDataSource

# Import row from bokeh.layouts
from bokeh.layouts import row

In [4]:
# Create a ColumnDataSource from data: source
source = ColumnDataSource(data)

# Create the first figure: p1
p1 = figure(x_axis_label='fertility (children per woman)', y_axis_label='female_literacy (% population)')

# Add a circle glyph to p1
p1.circle('fertility', 'female literacy', source=source)

# Create the second figure: p2
p2 = figure(x_axis_label='population', y_axis_label='female_literacy (% population)')

# Add a circle glyph to p2
p2.circle('population', 'female literacy', source=source)

# Put p1 and p2 into a horizontal row: layout
layout = row(p1, p2)

# Specify the name of the output_file and show the result
output_file('fert_row.html')
show(layout)